<div class="container">
    <div class="row">
        <div class="col-md-12">
           <form [formGroup]= "personasForm" (ngSubmit)="Guardar()" >   
             <div class="form-group">             
                <label for=""></label>
             <input formControlName="documento" type="text" placeholder="documento"  >  Documento     
            </div>            
            <div class="form-group">
            <label for=""></label>
            <input class="form" formControlName="nombre" type="text" placeholder="nombres" > Nombres 
        </div>
        <div class="form-group">
            <label for=""></label>
            <input formControlName="apellido" type="text" placeholder="apellidos"  >  Apellidos  
        </div>
        <div class="form-group">
            <label for=""></label>
            <input formControlName="direccion" type="text" placeholder="direccion" >  Direccion 
        </div>
        <div class="form-group">
            <label for=""></label>
            <input formControlName="telefono" type="text" placeholder="telefono" >  Telefono 
        </div>
      <button  class="btn btn-warning" type="submit">Guardar</button> 
       </form>
      </div>
     </div>
    </div>
<p>personas-create works!</p>
