<div class="container">
    <div class="row g-3">
            <div class=" card">
                    <div class="card-header">
                        <h1>Personas</h1>
                    </div>
                    <div class="card-body" >
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>Documento</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center"*ngFor="let item of listadoPersonas" >
                                <td>{{item.documento}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.apellido}}</td>
                                <td>{{item.direccion}}</td>
                                <td>{{item.telefono}}</td>
                                <td>
                                    <button class="btn btn-warning" [routerLink]="['../personas-update',item]">Editar</button>
                                    <button class="btn btn-danger" (click)="Eliminar(item)">Eliminar</button>
                                </td> 
                                </tr>           
                            </tbody>
                        </table>
                    </div>
                  </div>
    </div>    
</div>
<p>personas-list works!</p>
