<!-- 
<div class="container">
    <div class="row">
        <form [formGroup] = "formPersonasUpdate"(ngSubmit) = "Actualizar()">
            <div>             
                <label for=""></label>
                <input formControlName="id" type="text" placeholder="id"  >  id     
            </div>   
            <div>
                <label for=""></label>
                <input formControlName="documento" type="text">Documento
            </div>
            <div>
                <label for=""></label>
                <input formControlName="nombre" type="text">Nombres
            </div>
            <div>
                <label for=""></label>
                <input formControlName="apellido" type="text">Apellidos
            </div>
            <div>
                <label for=""></label>
                <input formControlName="direccion" type="text">Direccion
            </div>
            <div>
                <label for=""></label>
                <input formControlName="telefono" type="text">Telefono
            </div>
            <button type="submit" [disabled]="formPersonasUpdate.invalid">Actualizar</button>
        </form>
        
    </div>
</div>

<p>personas-update works!</p>
-->
<div class="container">
    <div class="row g-3">
        <form class="row g-3 needs-validation"  novalidate [formGroup] = "formPersonasUpdate"(ngSubmit) = "Actualizar()">
            <div class="col-md-4 ">
              <label for="validationTooltip01" class="form-label">ID</label>
              <input formControlName="id" type="text" class="form-control" id="validationTooltip01" value="Mark" required>
              <div class="valid-tooltip">
              </div>
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltip02" class="form-label">Documento</label>
              <input formControlName="documento" type="text" class="form-control" id="validationTooltip02" value="Otto" required>
              <div class="valid-tooltip">
              </div>
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltip02" class="form-label">Nombres</label>
              <input formControlName="nombre" type="text" class="form-control" id="validationTooltip02" value="Otto" required>
              <div class="valid-tooltip">
              </div>
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltipUsername" class="form-label">Apellidos</label>
              <div class="input-group has-validation">               
                <input formControlName="apellido" type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                <div class="invalid-tooltip">
                </div>
              </div>
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltipdireccion" class="form-label">Direccion</label>
              <input formControlName="direccion" type="text" class="form-control" id="validationTooltipdireccion" required>
              <div class="invalid-tooltip">
              </div>
            </div>
            <div class="col-md-4 position-relative">
                <label for="validationTooltip05" class="form-label">Telefono</label>
                <input formControlName="telefono" type="text" class="form-control" id="validationTooltip05" required>
                <div class="invalid-tooltip">
                </div>
              </div>           
            <div class="col-12">
                <button  class="btn btn-primary" type="submit" [disabled]="formPersonasUpdate.invalid">Actualizar</button>
            </div>
          </form>
    </div>
</div>
